.Wrapper {
    background-color: #f4f4f4;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
}

.Card {}

.Day {}

.Date {
    display: flex;
    align-items: center;
}

.Text {
    padding-left: 5px;
}

.DayOfWeek {}

.Lunch {

    margin-top: 10px;
}